@tailwind base;
@tailwind components;
@tailwind utilities;

:root 
  {
    background-image: url('../../public/images/background-web.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}